:root{
  --button:#eab3c7;
}

.menu-item {
  display: none;
}
.menu-item.active {
  display: block;
}

.category-btns .btn.active {
  color:white;
  background-color: var(--button);
  border-color: var(--button);
}

.category-btns .btn {
  color:var(--button);
  background-color: white;
  border:2px solid var(--button);
  box-shadow: none;
  border-radius:0.25rem;
}

.category-btns .btn:focus {
  box-shadow: none!important; 
}

